* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #1c1d1f;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #fff;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(250, 255, 251, 0.705);
    align-items: center;
}

img {
    width: 400px;
}

.ul1 {
    display: flex;
    gap: 30px;
    font-size: 1.2em;
    padding-right: 20px;
}

.li1 {
    list-style: none;
    padding: 20px;
    width: 70px;
    text-align: center;
    border-radius: 30px;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 750px;
    width: 100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items: center;
}

.box1 {
    background: url("https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box2 {
    background: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box3 {
    background: url("https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box4 {
    background: url("https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box5 {
    background: url("https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box6 {
    background: url("https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.box7 {
    background: url("https://images.pexels.com/photos/1891234/pexels-photo-1891234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center center;
}

.slider [class*="box"] {
    /*   float: left; */
    overflow: hidden;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position: absolute;
}

.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%, -50%);
    top: 10%;
    z-index: 1;
}

.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 20%;
    z-index: 2;
}

.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 30%;
    z-index: 3;
}

.slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 4;
}

.slider [class*="box"]:nth-child(1) {
    left: -13%;
}

.slider [class*="box"]:nth-child(2) {
    left: -5%;
}

.slider [class*="box"]:nth-child(3) {
    left: 10%;
}

.slider [class*="box"]:nth-child(4) {
    left: 50%;
}

.slider [class*="box"]:nth-child(5) {
    left: 71%;
}

.slider [class*="box"]:nth-child(6) {
    left: 85%;
}

.slider [class*="box"]:nth-child(7) {
    left: 100%;
}

.slider .firstSlide {
    -webkit-animation: firstChild 1s;
    animation: firstChild 1s;
}

/*Animation for buyers landing page slider*/
@-webkit-keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}

@keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}

.container
{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.btn
{
width: 100px;
height: 100px;
background-color: #fafafa;
display: flex;
align-items: center;
justify-content: center;
margin-left: 2em;
margin-right: 1em;
cursor: pointer;
transition: all 0.3s;
border-radius: 10px;
}
i.fa
{
font-size: 44px;
}
#fb
{
color: #006fff;
text-shadow: 0 0 30px #006fff;
}
#ig
{
color: #ff5f40;
text-shadow: 0 0 30px #ff5f40;
}
#tw
{
color: #00acff;
text-shadow: 0 0 30px #00acff;
}
.btn.fb-btn
{
box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.fb-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}
.btn.ig-btn
{
box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}
.btn.ig-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}
.btn.tw-btn
{
box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tw-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}